* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Verdana', 'Poppins', sans-serif;
    font-size: 14px;
    padding: 1rem;
    min-height: 12rem;
    min-width: 20rem;
    height: auto;
    width: auto;
    background: linear-gradient(135deg, #f8a4d8, #544ecb);
}

h1 {
    text-align: center;
    font-size: 24px;
    color: #544ecb;
    text-decoration: underline;
    margin-bottom: 0.25rem;
}

.metric {
    padding: 3%;
}

#metrics {
    box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

.metric p {
    margin: 5px 0;
    color: black;
    display: flex;
    justify-content: space-between;
}

.metric-value {
    text-align: right;
}

.error {
    color: #ff0000;
    font-weight: bold;
}

.progress-bar-container {
    background-color: #e9eceff3;
    border-radius: 5px;
    box-sizing: border-box;
}

.progress-bar {
    height: 1.5vh;
    background-color: #544ecb;
    margin-bottom: 5px;
    border-radius: 5px;
    box-sizing: border-box;
}

#pc-info {
    box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.1);
}

#cpu-usage,
#memory-usage,
#battery-info p {
    font-size: 14px;
    color: black;
    display: flex;
    justify-content: space-between;
}
